# Project exclude paths
/venv/
/data/Test_data/ADANIPORTS-EQ.csv
/data/Test_data/ASIANPAINT-EQ.csv
/data/Test_data/AXISBANK-EQ.csv
/data/Test_data/BHARTIARTL-EQ.csv
/data/Test_data/BHEL-EQ.csv
/data/Test_data/BPCL-EQ.csv
/data/Test_data/CIPLA-EQ.csv
/data/Test_data/COALINDIA-EQ.csv
/data/Test_data/GAIL-EQ.csv
/data/Test_data/GRASIM-EQ.csv
/data/Test_data/HDFC-EQ.csv
/data/Test_data/HDFCBANK-EQ.csv
/data/Test_data/HEROMOTOCO-EQ.csv
/data/Test_data/HINDALCO-EQ.csv
/data/Test_data/HINDPETRO-EQ.csv
/data/Test_data/HINDUNILVR-EQ.csv
/data/Test_data/ICICIBANK-EQ.csv
/data/Test_data/INDUSINDBK-EQ.csv
/data/Test_data/INFRATEL-EQ.csv
/data/Test_data/INFY-EQ.csv
/data/Test_data/IOC-EQ.csv
/data/Test_data/ITC-EQ.csv
/data/Test_data/KOTAKBANK-EQ.csv
/data/Test_data/LT-EQ.csv
/data/Test_data/LUPIN-EQ.csv
/data/Test_data/M&M-EQ.csv
/data/Test_data/ONGC-EQ.csv
/data/Test_data/POWERGRID-EQ.csv
/data/Test_data/RELIANCE-EQ.csv
/data/Test_data/SBIN-EQ.csv
/data/Test_data/SUNPHARMA-EQ.csv
/data/Test_data/TATAMOTORS-EQ.csv
/data/Test_data/TATASTEEL-EQ.csv
/data/Test_data/TECHM-EQ.csv
/data/Test_data/VEDL-EQ.csv
/data/Test_data/WIPRO-EQ.csv
/data/Test_data/YESBANK-EQ.csv
/data/Test_data/ZEEL-EQ.csv
/data/Train_data/ADANIPORTS-EQ.csv
/data/Train_data/AXISBANK-EQ.csv
/data/Train_data/BHARTIARTL-EQ.csv
/data/Train_data/BPCL-EQ.csv
/data/Train_data/CIPLA-EQ.csv
/data/Train_data/COALINDIA-EQ.csv
/data/Train_data/GAIL-EQ.csv
/data/Train_data/HINDALCO-EQ.csv
/data/Train_data/HINDPETRO-EQ.csv
/data/Train_data/ICICIBANK-EQ.csv
/data/Train_data/INFRATEL-EQ.csv
/data/Train_data/IOC-EQ.csv
/data/Train_data/LUPIN-EQ.csv
/data/Train_data/ONGC-EQ.csv
/data/Train_data/POWERGRID-EQ.csv
/data/Train_data/SBIN-EQ.csv
/data/Train_data/SUNPHARMA-EQ.csv
/data/Train_data/TATAMOTORS-EQ.csv
/data/Train_data/TATASTEEL-EQ.csv
/data/Train_data/TECHM-EQ.csv
/data/Train_data/TITAN-EQ.csv
/data/Train_data/VEDL-EQ.csv
/data/Train_data/YESBANK-EQ.csv
